@media screen and (max-width: 700px) {
    #sideBar {
        display: flex;
        width: 220px;
    }
    .sidebar .ri-close-large-line {
        font-size: 1.6em;
        color: #fff;
    }
    .sidebar button {
        position: relative;
        font-size: 1.1em;
    }
    .sidebar button::after {
        content: "";
        position: absolute;
        transition: width 0.4s ease;
        left: 0;
        background-color: var(--color);
        filter: var(--sat);
        width: 80%; height: 2px;
        margin-top: 2em;
    }
    .container {
        height: 110px;
    }
    .container nav {
        display: none;
    }
    .container .ri-menu-line {
        font-size: 2.5em;
        cursor: pointer;
        display: block;
    }
    .container p {
        font-size: 2em;
    }
    .box-introduction {
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
    }
    .info-introduction {
        text-align: center;
    }
    .box-introduction img {
        width: 90%;
    }
    #projects h1 {
        font-size: 1.8em;
    }
    .btn-project {
        button {
            font-size: 1.4em;
            padding: .4rem;
        }
    }
    .form-contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: .8em;
        width: 10em; height: auto;
    }
    .form-contact h1 {
        font-size: 1.8em;
        margin: 40px;
    }
    .form-contact button {
        width: 250px;
        margin-top: 30px;
        font-size: 1.3em;
    }
    .box-contact .campo-form {
        width: 120px;
    }
}

@media screen and (max-width:1300px) {
    .box-introduction img {
      width: 90%;
    }
    .plataformas {
        display: flex;
    }
    .box-introduction {
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
    }
    .info-introduction {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    #home {
        padding: 0 15%;
    }
}

@media (max-width: 950px) {
    .box-projects {
        flex-direction: column;
        .project:hover {
            transform: none;
        }
    }
}

@media (max-width: 1190px) {
    .info-project h2 {
        font-size: 2.3em;
        margin-top: 20px;
    }

@media (max-width: 600px) {
    .box-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 735px) {
    .box-info-about {
        flex-direction: column;
        gap: 40px;
    }
}
@media (max-width: 523px) {
    .info-about {
        width: auto;
    }
    .info-introduction {
        max-width: 350px;
        font-size: .9em;
    }
    #home {
        padding: 0 1%;
        
    }
}

@media (max-width: 820px) {
    .form-contact {
        width: 27em;
    }
    .box-contact .campo-form {
        width: 400px;
    }
}

@media (max-width: 620px) {
    .box-contact .campo-form {
        width: 250px;
    }
}