@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:wght@400;700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:wght@400;900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --quick: "Quicksand", sans-serif;
    --popp: "Poppins", sans-serif;
    --julius: "Julius Sans One", sans-serif;
    --raleway: "Raleway", sans-serif;

    --shadow: 0px 0px 40px rgb(121, 201, 255);
    --shadow-two: 0px 0px 40px rgb(0, 65, 71);

    --shadow-ft: 0px 0px 40px rgb(121, 201, 255,0.6);
    --shadow2-ft: 0px 0px 40px rgb(0, 65, 71, 0.6);
    --shadow-ft-hover: 0px 0px 50px rgb(118, 234, 255);

    --color: rgb(118, 234, 255);
    --color-two: rgb(85, 235, 255);
    --color-three: rgb(0, 97, 105);
    --color-four: rgba(0,0,0);
    --bk: rgb(29, 29, 29,0.5);

    --sat: saturate(900%);
}

* {
    transition: .2s linear;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0,0,0,1);
    color: #fff;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: "Quicksand", sans-serif;
}
    
.container {
    background-color: rgb(8, 8, 8,0.3);
    display: flex;
    align-items: center;
    width: 100%; height: 7em;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-around;
    backdrop-filter: blur(20px);
}

.container nav {
    display: flex;
    gap: 30px;
}

.container p {
    filter: var(--sat);
    font-size: 2em;
    font-weight: 900;
    font-family: var(--julius);
    cursor: default;
}

.container p span {
    color: var(--color);
    text-shadow: var(--shadow);
    font-weight: 900;
}

.container nav button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: var(--quick);
    cursor: pointer;
    filter: var(--sat);
}

.container nav button:hover {
    filter: var(--sat); 
    color: var(--color);
    text-shadow: var(--shadow);
}

.container .ri-menu-line {
    display: none;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%; width: 20em;
    background-color: rgb(8, 8, 8,0.8);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    backdrop-filter: blur(20px);
}

.sidebar .ri-close-large-line {
    margin: 20px;
    cursor: pointer;
    color: rgb(197, 197, 197);
    font-size: 1.7em;
}

.sidebar .ri-close-large-line:hover {
    transform: scale(1.1);
    color: #fff;
}

.sidebar button {
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: var(--quick);
    cursor: pointer;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    filter: var(--sat);
}

main {
    margin-top: 20vh;
}

#home {
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.box-introduction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 10em; 
    align-items: center;
   
    margin: 20px;
    max-width: 1100px;
}

.info-introduction { 
    max-width: 500px;
}

.info-introduction h1 {
    font-size: 2.8em;
    font-family: var(--popp);
    filter: var(--sat);
    cursor: default;
}

.info-introduction h1 span {
    -webkit-text-stroke: 1.1px var(--color);
    color: transparent;
    filter: var(--sat);
}

.info-introduction h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    filter: var(--sat);
    cursor: default;
}

.info-introduction p {
    max-width: 700px;
    margin-bottom: 26px;
    font-size: .89em;
}

.info-introduction p span {
    color: rgb(137, 255, 255); 
    font-weight: 600; 
    filter: saturate(100%);
}

.info-introduction .plataformas {
    display: flex;
    font-size: 2em;
    gap: 20px;
}

.info-introduction .plataformas i {
    cursor: pointer;
    color: var(--color-two);
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 100%;
    filter: var(--sat);
}

.info-introduction .plataformas i:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow-two);
    color: #000000;
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
    transition: all .3s linear;
}

.info-introduction button {
    font-family: var(--quick);
    background-color: transparent;
    font-size: 1.2em;
    color: var(--color-two);
    padding: 10px;
    border: 1px solid var(--color-two);
    border-radius: 40px;
    width: 180px;
    margin-top: 25px;
    cursor: pointer;
    filter: var(--sat);
}

.info-introduction button:hover {
    box-shadow: var(--shadow-two);
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
    transition: .3s linear;
    font-weight: 600;
}

.box-introduction button:hover a {
    color: #000000;
    font-weight: bold;
}

.box-introduction button a {
    text-decoration: none;
    color: var(--color-two);
}

.box-introduction .skills {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.skills img {
    animation: flutuar 6s ease-in-out infinite;
    opacity: 70%;
}

.box-introduction .photo {
    border-radius: 100%;
    box-shadow: var(--shadow-ft), var(--shadow2-ft);
    animation: flutuar 3s ease-in-out infinite; 
}

.box-introduction .photo:hover {
    box-shadow: var(--shadow-ft-hover);
}

#projects {
    margin-top: 22em;
    width: 100%; height: auto;
    background-color: var(--bk);
    text-align: center;
}


#projects h1 {
    font-size: 2em;
    font-family: var(--popp);
    align-items: center;
    padding-top: 70px;
    padding-bottom: 60px;
    gap: 15px;
}

#projects span {
    color: var(--color-two);
    filter: var(--sat);
    text-shadow: var(--shadow-two);
}

.box-projects {
    display: flex;
    justify-content: center;
    width: 100%;
    place-items: center;
}

.project.mading {
    background-color: #000000;
    pointer-events: none;
}

.project {
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    height: 22em;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.project:hover {
    transition: 600ms;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 20px rgba(99, 232, 255, 0.15);
}

.project img {
    object-fit: cover;
    border-radius: 20px;
}

.project:hover img {
    transition: 600ms;
    transform: scale(1.08);
}

.info-project {
    font-family: var(--raleway);
    width: 100%; height: 110px;
    box-shadow: 0 0 10px black;
    border-radius: 0 0 18px 18px;
    background-color: rgba(0,0,0,0.8);
    padding-top: 15px;
    font-size: .6em;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.info-project h2 {
    font-size: 2.7em;
}

.info-project .btn-project {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;   
}

.btn-project button {
    font-weight: 600;
    font-size: 1.5em;
    font-family: var(--quick);
    padding: .5rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
} 

.btn-project button:hover {
    background-color: var(--color-two);
    border-radius: 10px;
    transform: scale(1.1);
}

.faixa {
    position: absolute;
    bottom: 70%;
    left: -50%;
    width: 150%;
    text-align: center;
    background: rgb(255, 251, 32);
    color: rgb(0, 0, 0);
    font-weight: bold;
    transform: rotate(-30deg);
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#about {
    margin-top: 22em;
}

.box-about {
    text-align: center;
}

.box-about h1 {
    font-family: var(--popp);
    font-size: 2em;
    gap: 15px;
}

.box-about span {
    color: var(--color-two);
    filter: var(--sat);
    text-shadow: var(--shadow-two);
}

.box-about:hover span {
    filter: saturate(100%);
}

.box-title-about {
    display: flex;
    align-items: center;

    justify-content: center;
}

.box-info-about {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    margin-top: 100px;
    cursor: default;
}   

.box-info-about p {
    color: rgb(165, 165, 165);
}

.info-about:hover p {
    color: #fff;
}

.info-about:hover {
    box-shadow: -15px 10px 8px rgb(94, 255, 255);
    border-radius: 2.4em;
}

.info-about {   
    width: 400px;
    background-color: var(--bk);
    padding: 40px;
    border-radius: 2em;
    box-shadow: 1px 1px 20px rgb(0, 99, 99);
}

.info-about p {
    font-size: 1em;
}

#contact {
    margin-top: 27em;
    display: flex;
    justify-content: center;
    padding-bottom: 15em;
}

.form-contact {
    background-color: var(--bk);
    width: 52em; height: auto;
    text-align: center;
    border-radius: 1.4em;
    box-shadow: 0px 0px 50px rgb(0, 221, 221);
}

.form-contact:hover {
    box-shadow: 0px 0px 50px rgb(0, 95, 95);
}

.form-contact h1 {
    margin: 60px;
    font-size: 2em;
    font-family: var(--popp);
}

.form-contact span {
    color: var(--color-two);
    filter: var(--sat);
    text-shadow: var(--shadow-two);
}

.form-contact button {
    font-family: var(--quick);
    background-color: transparent;
    font-size: 1.1em;
    color: var(--color-two);
    border: 1px solid var(--color-two);
    border-radius: 40px;
    width: 280px; height: 60px;
    cursor: pointer;
    filter: var(--sat);
    margin: 30px;
}

.form-contact button:hover {
    box-shadow: var(--shadow-two);
    color: #000000;
    background-color: var(--color-two);
    border: none;
    font-weight: 900;
}

.box-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.box-contact .campo-form {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(28, 28, 28);
    font-family: var(--quick);
    border-radius: 10px;
    padding: .8rem;
    outline: none;
    color: #fff;
    font-size: 1em;
    margin-bottom: 1em;
    resize: none;

    width: 700px;
    /* max-width: 300px;
    max-height: 170px;
    min-height: 30px; */
}

.campo-form-two::placeholder {
    margin-top: 20px;
}

.box-contact .campo-form:focus {
    border: 1px solid var(--color-two);
    box-shadow: var(--shadow-two);
}

.particulas {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    opacity: .3;
    background: 
    radial-gradient(circle at 10% 20%, var(--color-two) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--color-three) 0%, transparent 20%)
    var(--color-four);
}

.animation.active {
    color: var(--color);
    text-align: var(--shadow);
}